---

- name: dictionary templates
  copy:
    src: "{{ item.name }}"
    dest: "/usr/share/freeradius/{{ item.name }}"
    owner: root
    group: root
    mode: 0644
  with_items: fr_conf_dicts
  notify: svc restart fr 

- name: include dictionaries
  lineinfile: >
    dest="/usr/share/freeradius/dictionary"
    insertafter="dictionary.zyxel"
    line="$INCLUDE {{item.name}}"
    state=present
  with_items: fr_conf_dicts
  notify: svc restart fr

- name: config sql modules
  template:
    src=sql-module.j2
    dest=/etc/raddb/modules/{{item.name}}
    owner=root
    group={{fr_group}}
    mode=0644
  with_items: fr_conf_sql

- name: config ldap modules
  template:
    src=ldap-module.j2
    dest=/etc/raddb/modules/{{item.name}}
    owner=root
    group={{fr_group}}
    mode=0644
  with_items: fr_conf_ldap

- name: config perl modules
  template:
    src=perl-module.j2
    dest=/etc/raddb/modules/{{item.name}}
    owner=root
    group={{fr_group}}
    mode=0644
  with_items: fr_conf_perl

- name: config huntgroups
  template:
     src=huntgroups.j2
     dest=/etc/raddb/huntgroups
     owner=root
     group={{fr_group}}
     mode=0644
  notify: svc restart fr

- name: gist files
  get_url:
    url: "https://gist.githubusercontent.com/{{item.gist}}/raw"
    dest: "/etc/raddb/{{ item.dest }}"
    force: yes
    owner: root
    group: "{{fr_group}}"
    mode: 0644
  with_items: fr_gist_files
  notify: svc restart fr

- name: delete files
  file: path=/etc/raddb/{{item}} state=absent
  with_items: fr_absent_files

- name: gist scripts
  get_url:
    url: "https://gist.githubusercontent.com/{{item.gist}}/raw"
    dest: "/etc/raddb/{{ item.dest }}"
    force: yes
    owner: root
    group: "{{fr_group}}"
    mode: 0755
  with_items: fr_gist_scripts
  notify: svc restart fr

- name: service enable, start
  service: name=radiusd state={{fr_svc_state}} enabled={{fr_svc_enabled}}

