---
- include: setup-RedHat.yml
  when: ansible_os_family == 'RedHat'

- name: dictionary templates
  copy:
    src: "{{ item.name }}"
    dest: "/usr/share/freeradius/{{ item.name }}"
    owner: root
    group: root
    mode: 0644
  with_items: fr_conf_dicts
  notify: svc restart fr 

- name: include dictionaries
  lineinfile: >
    dest="/usr/share/freeradius/dictionary"
    insertafter="dictionary.zyxel"
    line="$INCLUDE {{item.name}}"
    state=present
  with_items: fr_conf_dicts
  notify: svc restart fr

- name: configure hunts 
  lineinfile: >
    dest="/etc/raddb/huntgroups"
    line="{{item.hunt}} {{item.logic}}"
    state=present
  with_items: fr_conf_hunts
  notify: svc restart fr 

- name: gist files
  get_url:
    url: "https://gist.githubusercontent.com/{{item.gist}}/raw"
    dest: "/etc/raddb/{{ item.dest }}"
    force: yes
    owner: root
    group: "{{fr_group}}"
    mode: 0644
  with_items: fr_gist_files
  notify: svc restart fr

- name: delete files
  file: path=/etc/raddb/{{item}} state=absent
  with_items: fr_absent_files

- name: gist scripts
  get_url:
    url: "https://gist.githubusercontent.com/{{item.gist}}/raw"
    dest: "/etc/raddb/{{ item.dest }}"
    force: yes
    owner: root
    group: "{{fr_group}}"
    mode: 0755
  with_items: fr_gist_scripts
  notify: svc restart fr

- name: service enable, start
  service: name=radiusd state={{fr_svc_state}} enabled={{fr_svc_enabled}}

