#
#  Authentication / Authorization SQL = Method #1
#
sql {{item.name}} {

  server = "{{item.server}}"

  # Set to 'yes' to read radius clients from the database ('nas' table)
  # Clients will ONLY be read on server startup.  For performance
  # and security reasons, finding clients via SQL queries CANNOT
  # be done "live" while the server is running.
  #
  readclients = {{item.readclients}}

  $INCLUDE {{item.include}}
}

